* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}

body {
    font-family: sans-serif;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    font-weight: 400;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.heading1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top_button {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: center;
    background-color: #5A98D0;
    color: #FFFFFF;
    box-shadow: 5px 10px 20px 0px #356EAD33;
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    margin-top: 71px;
    display: inline-block;
}

.main_text {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/main_bg.png);
    background-repeat: no-repeat;
    background-position: right 115px;

    p {
        width: 425px;
    }
}

.top-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.heading2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading3 {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.card_link {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #5A98D0;
    margin-top: 30px;
}

.input {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-right: 10px;
    opacity: 0.4;
}

.submit_button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.what_we_do_card {
    width: 359px;
    box-sizing: border-box;
    padding: 44px 32px;
    box-shadow: 5px 20px 50px 0px #1070B133;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    img {
        align-self: center;
        margin-bottom: 50px;
    }
}

.what_we_do {
    padding-top: 64px;
}

.what_we_do_cards {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.lets_talk_content h3 {
    width: 340px;
    text-align: left;

    p {
        width: 495px;
    }
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.footer ul {
    display: flex;
    justify-content: space-between;
}

.contacts_feedback {
    display: flex;
}